PORT=8000
BASE_PATH=/api
FRONTEND_ORIGIN=http://localhost:5173
MONGO_URI=mongodb://127.0.0.1:27017/moneytrails_db
JWT_SECRET=your_jwt_secret
GEMINI_API_KEY=your_gemini_key
CLUSTER_USER_NAME=your_cluster_user
CLUSTER_PASS=your_cluster_pass
SMTP_HOST=localhost
SMTP_PORT=587
MAIL_USER=your_email_user
MAIL_PASS=your_email_pass
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_key
CLOUDINARY_API_SECRET=your_cloudinary_secret
FALLBACK_USD_TO_INR_RATE=83.5
